.container {
    position: relative;
}

button {
    background-color: #CB1331;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #7c1d1d;
}

/* Estilo para el ícono del carrito */
button svg {
    vertical-align: middle;
    margin-right: 5px;
}