.container {
    text-align: center;
}

.card {
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card-img-top {
    max-width: 100%;
    height: auto;
}

.card-body {
    padding: 10px;
}

.card-text {
    font-size: 16px;
    margin: 10px 0;
}

/* Estilos para los enlaces */
.text-decoration-none {
    text-decoration: none;
    color: #000;
    /* Cambia el color del enlace según tu preferencia */
}

/* Estilos para los enlaces en hover (opcional) */
.text-decoration-none:hover {
    color: #007bff;
    /* Cambia el color en hover según tu preferencia */
}