@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* --- RESET --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Poppins', sans-serif; }

li {
  list-style: none; }

a {
  text-decoration: none; }

/* Para posicionar el footer al final sin importar el contenido */
html {
  height: 100%; }

body {
  display: flex;
  flex-direction: column;
  min-height: 100%; }

.footer {
  margin-top: auto; }

.accordion-button:not(.collapsed) {
  background-color: black;
  color: white; }

.accordion-button:not(.collapsed)::after {
  filter: brightness(0%) invert(75%); }

.accordion-button:focus {
  box-shadow: inherit; }

.talentos .perfiles, .talentos .perfiles_mini {
  display: flex;
  justify-content: space-around;
  align-items: center; }

/* --- HEADER --- */
header nav {
  background-color: #202020; }

  
/* --- FOOTER --- */

.footer {
  background-color: black;
  color: white;
  padding: 10px;
  
}

.footer div div h2 {
  font-size: 15px;
  font-weight: 200;
}

.footer div div a {
  color: white;
  font-size: 20px;
  padding: 8px;
}